<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
    <link rel="stylesheet" href="../static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/feed.css">
    <!-- <link rel="stylesheet" href="bootstrap-3.4.1-dist/css/bootstrap.min.css"> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/feed.js')}}"></script>
    <script>
      function myFunc(vars) {
        return vars
      }
      var result ="{{correct|tojson}}";
      function show(){ 
        for(var i = 0;i<result.length;i++){
          if (parseFloat(result[i]).toString() != "NaN"){
            var p = result[i]
            document.getElementById(p).style.display = "none";
        }
      }
      }
    </script>
</head>
<body onload="show()">
  <header class="wz">
    <div style="height: 10px;"></div>
    <div class="container mycheng" style="width: 100%;">
      <div class="container" style= "width: 100%; height: 40px;">
      <div class="col-lg-2 col-md-4 col-sm-6"><a href="{{ url_for('assessment_home')}}" target="_self" class="navigation">←Back</a></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
      </div>   
  </header>
  <div class="zj">
  <h1 class="r" onload="show()">The examination is over...
  </h1>

  <h2 class = "r">
    You have got question {{correct}} right...
  </h2>
    <h3>The following questions are incorrect:</h3>
    <h3 id = "1">1. What is the romaji of &#34;ヌ&#34;:<span class = "answer">nu</span></h3>
    <h3 id = "2">2. What are the romaji of &#34;ぬ&#34; and &#34;め&#34; (in sequence)  :<span class = "answer">nu me</span></h3>
    <h3 id = "3">3. Which one is the katakana of &#34;ne&#34;: <span class = "answer">ネ</span></p>
    <h3 id = "4">4. Which one is the hiragana of &#34;ヲ&#34;: <span class = "answer">を</span></h3>
    <h3 id = "5">5. Which choices is the romaji of &#34;が&#34;: and &#34;カ&#34; <span class = "answer">ga ka</span></h3>
    <h3 id = "6">6. Please input katakana of &#34;の&#34;: <span class = "answer">ノ</span></h3>
    <h3 id = "7">7. Please input katakana of &#34;へ&#34;: <span class = "answer">へ</span></h3>
    <h3 id = "8">8. Please input hiragana of &#34;タ&#34;: <span class = "answer">た</span></h3>
    <h3 id = "9">9. Please input katakana of &#34;ポ&#34;: <span class = "answer">ぽ</span></h3>
    <h3 id = "10">10. Please input hiragana of &#34;ン&#34;: <span class = "answer">ん<span></h3>

  <h3 class = "r">
    So Your final score is {{score}}.
  </h3>
  </div>

</body>
</html>